
<div id="mySidenav" class="sidenav" >

        <div style="font-size:1.8vw">

            {{current_user}}

        </div>
        <div>
            <span class="closebtnNav" ng-click="closeNav()">&times;</span>
            <li ng-click="viewSetter1()" style="font-size:1.5vw">My portfolio</li>
            <li ng-click="viewSetter2()" style="font-size:1.5vw">My followings</li>
            <li ng-click="viewSetter3()" style="font-size:1.5vw">My Followers</li>
            <li ng-click="viewSetter4()" style="font-size:1.5vw">My Settings</li>
        </div>
        <div id="sideNavFooter">
                <li><a href="#" style="font-size:1.5vw">logout</a></li>
                <li><a href="#" style="font-size:1.5vw">Delete Account</a></li>
        </div>
</div>

<div class="profileMenuDrop" ng-click="openNav()"><span class="glyphicon glyphicon-menu-right" style="font-size : 400%"></span></div>

<div class="mainPortfolio"  ng-include="subView">
    <h1 style="font-size:1vw">Welcome {{current_user}}</h1>
</div>
